Used Google colab for Implementation
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
nltk>=3.8.1
bert-score>=0.3.13
transformers>=4.40.0
sentencepiece>=0.1.99
tqdm>=4.66.0
scikit-learn>=1.3.0
